<navbar id="layer1">
    <!-- sublayer 1 -->
    <div id="sublayer1">

        <div class="part1">
            <!-- logo -->
            <a href="/"><img src="/resources/logo6.png" class="logoimg" alt="logo of site"> </a>
            <!-- search bar -->
            <div class="search">
                <input type="search" name="search" class="search-field" placeholder="Search Product, Brand">
                <button type="submit" class="searchbtn">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
        </div>
        <div class="part2">
            <!-- login-signup -->
            <div class="login-signup">

                <% if (isAuthenticated) { %>
                    <p>
                        <a href="/user/profile">
                        <i class="fa-solid fa-user fa-lg"> </i>
                        <%= username %>
                        </a>
                    </p>
                    <!-- Other content for authenticated users -->
                    <% } else { %>
                        <p>
                            <i class="fa-solid fa-user fa-lg"> </i>
                            <a href="user/login" class="ls">Login</a>
                            or
                            <a href="/user/register" class="ls">Sign Up</a>
                        </p>
                        <% } %>

            </div>

            <!-- wishlist & cart -->

            <a href="/user/wishlist/" class="wishlist">
                <i class="fa-regular fa-heart fa-xl"> </i>
                <p> Wishlist</p>
            </a>
            <a href="/user/cart" class="cart">
                <i class="fa-solid fa-cart-shopping fa-xl"> </i>
                <p>My Cart</p>
            </a>

        </div>

    </div>
    <!-- sublayer 1 ends -->

    <!-- subplayer 2 starts -->
    <div id="sublayer2">
        <ul id="navibaritems">

            <li class="<%= activePage === 'Home' ? 'active' : ''  %>"><a href="/">Home</a></li>
            <li class="<%= activePage === 'Categories' ? 'active' : ''  %>"><a href="category">Categories</a></li>
            <li class="<%= activePage === 'Support' ? 'active' : ''  %>"><a href="support">Support</a></li>
            <li class="<%= activePage === 'Seller' ? 'active' : ''  %>"><a href="seller">Sell here</a></li>

        </ul>

    </div>

    <!-- sublayer 1 ends -->


</navbar>