<%-include('partials/head')%>
    <link rel="stylesheet" href="/css/productList.css">
    <title>Laptops</title>


    </head>


    <body>


        <div id="sublayer1">

            <div class="part1">
                <!-- logo -->
                <a href="/"><img src="/resources/logo6.png" class="logoimg" alt="logo of site"> </a>
                <!-- search bar -->
                <div class="search">
                    <input type="search" name="search" class="search-field" placeholder="Search Product, Brand">
                    <button type="submit" class="searchbtn">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>
            </div>
            <div class="part2">
                <!-- login-signup -->
                <div class="login-signup">

                    <% if (isAuthenticated) { %>
                        <p>
                            <i class="fa-solid fa-user fa-lg"> </i>
                            <%= username %>!
                        </p>
                        <!-- Other content for authenticated users -->
                        <% } else { %>
                            <p>
                                <i class="fa-solid fa-user fa-lg"> </i>
                                <a href="/login" class="ls">Login</a>
                                or
                                <a href="/register" class="ls">Sign Up</a>
                            </p>
                            <% } %>

                </div>

                <!-- wishlist & cart -->

                <a href="/user/wishlist" class="wishlist">
                    <i class="fa-regular fa-heart fa-xl"> </i>
                    <p> Wishlist</p>
                </a>
                <a href="/user/cart" class="cart">
                    <i class="fa-solid fa-cart-shopping fa-xl"> </i>
                    <p>My Cart</p>
                </a>

            </div>

        </div>

        <!-- llayer2 -->
        <div id=layer2>
            <h1>Your Cart</h1>
            <!-- Assuming product.product is an object with properties like productName, discountedPrice, productPrice, descriptionPoints, etc. -->
            <div class="productz">
                <% products.forEach(cartItem=> { %>
                    <div class="product-container">
                        <img src="<%= cartItem.imagePath %>" class="laptop" width="13rem" alt="">

                        <a href="/product/<%= cartItem.product._id %>">
                            <div class="product-info">

                                <h4>
                                    <%= cartItem.product.productName %>
                                </h4>
                                <div class="rev">
                                    <!-- Your star ratings and other information -->
                                </div>
                                <h4><i class="fa fa-inr"></i>
                                    <%= cartItem.product.discountedPrice %>
                                </h4>
                                <h5 class="disc">
                                    <%= cartItem.product.productPrice %>
                                </h5>
                                <h5 class="disc1">
                                    <%= ((cartItem.product.productPrice - cartItem.product.discountedPrice) /
                                        cartItem.product.productPrice) * 100 %> % off
                                </h5>
                                <h5>Free Delivery</h5>
                                <ul>
                                    <li>
                                        <%= cartItem.product.descriptionPoints[0] %>
                                    </li>
                                    <li>
                                        <%= cartItem.product.descriptionPoints[1] %>
                                    </li>
                                    <li>
                                        <%= cartItem.product.descriptionPoints[2] %>
                                    </li>
                                </ul>
                            </div>
                        </a>
                        <input type="range" name="quantity" id="quantity">
                        <form id="deleteCartForm" data-product-id="<%= cartItem.product._id %>">
                            <button type="submit"><i class="fa-solid fa-trash"></i></button>
                        </form>
                    </div>
                    <% }); %>

                        <div class="total">
                            <h2>Total Amount: <%=totalPrice%>
                            </h2>
                        </div>
                        <div class="proceed">
                            <h2>

                                <a href="/checkout">checkout</a>

                            </h2>
                        </div>
            </div>








            <div class="context">
                <br> olor sit, amet consectetur adipisicing elit. Molestiae, magni!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, suscipit?Lorem ipsum dolor sit amet,
                consectetur adipisicing elit. Laboriosam, eaque nostrum omnis adipisci provident neque, iste quos
                odit
                laborum fugit, sequi ipsa corrupti voluptatem sapiente!
                <br>
                <br>
                <br>
            </div>


        </div>
        <%-include('partials /footer')%>


            <script>
                document.querySelectorAll('#deleteCartForm').forEach(form => {
                    form.addEventListener('submit', function (event) {
                        event.preventDefault();

                        const productId = this.getAttribute('data-product-id');

                        fetch(`/user/deletecart/${productId}`, {
                            method: 'DELETE',
                            headers: {
                                'Content-Type': 'application/json',
                            },
                        })
                            .then(response => response.json())
                            .then(data => {
                                alert(data.message);
                                window.location.href = '/user/cart'; // Redirect to the user's cart page
                            })
                            .catch(error => {
                                console.error('Error:', error);
                                // Handle errors or show an appropriate message to the user
                            });
                    });
                });
            </script>
    </body>

    </html>