<%-include('partials/head')%>

    <link rel="stylesheet" href="/css/productMain.css">
    <link rel="stylesheet" href="/css/styleMain.css">



    <title>Lenovo Ideapad 3</title>

    </head>

    <body>

        <div id="llayer1">
            <a href="/"><img src="/resources/logo6.png" class="logoimg" alt="logo of site"> </a>
        </div>


        <div id="llayer2">

            <!-- full product images -->
            <div id="left">

                
                    <div class="main-img-block">
                        <img src="<%=imgPath%>/img1.png" width="90%" height="100%" id="main-img" alt="">
                   
                    </div>

                    <button id="wishlistbtn"><i class="fa-solid fa-heart fa-xl"></i></button>

                    <div class="small-img-section">

                        <button class="pre-btn" id="pre-small-img-btn"><i
                                class="fa-solid fa-chevron-left fa-lg"></i></button>
                        <button class="next-btn" id="next-small-img-btn"><i
                                class="fa-solid fa-chevron-right fa-lg"></i></button>

                        <div class="image-container">

                        <% imgFiles.forEach(img=>{ %>

                            <div class="small-img-block">
                                <img src="<%=imgPath%>/<%=img%>" width="100%" height="100%" class="smallimg" alt="">
                            </div>
                     <%   }) %>


                        </div>

                    </div>

                    <div class="buy-cart">
                        <button class="cartbtn">
                            <i class="fa-solid fa-cart-shopping fa-xl"></i>
                            <a href="/checkout.html">

                                <h3> Add to Cart</h3>

                        </button>

                        <button class="buybtn">
                            <i class="fa-regular fa-credit-card fa-xl"></i>
                            <a href="/checkout.html">
                                <h3> Buy Now</h3>
                            </a>
                        </button>
                    </div>
            

            </div>
            <!-- full product images end here left ends -->


            <!-- Full product info starts -->
            <div id="right">

                <div class="prodetails">
                    <p style="display: flex;">
                        <a href="/category">Categories</a>/<a href="/category/<%= product.category %>">
                            <%= product.category %>
                        </a>

                    </p>

                    <h4>
                        <%= product.productName %>
                    </h4>


                    <h2><i class="fa fa-inr"></i>
                        <%= product.discountedPrice %>
                    </h2>

                    <h4 class="disc">
                        <%= product.productPrice %>
                    </h4>

                    <h4 class="disc1">
                        <%= ((product.productPrice-product.discountedPrice) / product.productPrice)*100 %> % off
                    </h4>

                    <div class="rating-screen">
                        <button>
                            <i class="fa-solid fa-star fa-2xs"></i>&nbsp; <%=roundToOneDecimalPlace(averageRating)%>
                        </button>
                        <p>
                            <%=numberOfRatings %> Ratings and <%=numberOfReviews%> Reviews
                        </p>
                    </div>
                    <h4>Free Delivery</h4>

                    <h4>Available Offers</h4>
                    <ul>
                        <% product.offers.forEach(offer=> { %>
                            <li><span><i class="fa-solid fa-tag"></i>
                                    <%= offer %>
                                </span></li>
                            <% }); %>
                    </ul>


                </div>

                <div class="description">

                    <h2>Description</h2>
                    <p style="margin-bottom: 0.5rem;">
                        <%= product.description %>
                    </p>

                    <hr>
                    <% if (product.warranty) { %>
                        <div class="warranty">
                            <p>
                                <i class="fa-solid fa-clipboard-check fa-lg"></i>
                                &nbsp; <%= product.warranty %>
                            </p>
                            <a href="#" class="TnC">T&C applied</a>

                        </div>
                        <% } %>

                </div>
                <div class="description">
                    <h2>Specifications</h2>
                    <hr>
                    <table>
                        <tbody>
                            <tr>
                                <th colspan="2">General</th>


                            </tr>
                            <tr>
                                <td>Sales Package</td>
                                <td>Laptop, Power Adaptor, User Guide, Warranty Documents</td>
                            </tr>
                            <tr>
                                <td>Model Number</td>
                                <td>15IMH05</td>
                            </tr>
                            <tr>
                                <td>Series</td>
                                <td>IdeaPad Gaming 3</td>
                            </tr>
                            <tr>
                                <td>Color</td>
                                <td>Onyx Black</td>
                            </tr>
                            <tr>
                                <td>Type </td>
                                <td>Gaming Laptop</td>
                            </tr>


                        </tbody>
                        <span id="dots"></span>

                        <tbody id="more">
                            <tr>
                                <td>Suitable for</td>
                                <td>Gaming, Processing & Multitasking</td>
                            </tr>
                            <tr>
                                <td>Battery Backup</td>
                                <td>Upto 8 hours</td>
                            </tr>
                            <tr>
                                <td>Power Supply</td>
                                <td>135 W Slim Tip Adapter</td>
                            </tr>
                            <tr>
                                <th colspan="2">Processor & Memory features</th>

                            </tr>
                            <tr>
                                <td>Dedicated Graphic Memory Type</td>
                                <td>GDDR6</td>
                            </tr>
                            <tr>
                                <td>Dedicated Graphic Memory Capacity</td>
                                <td>4 GB</td>
                            </tr>
                            <tr>
                                <td>Processor Brand</td>
                                <td>Intel</td>
                            </tr>
                            <tr>
                                <td>Processor Name</td>
                                <td>Core i5</td>
                            </tr>
                            <tr>
                                <td>Processor Generation</td>
                                <td>11th</td>
                            </tr>
                            <tr>
                                <td>SSD Capacity</td>
                                <td>256 GB</td>
                            </tr>
                            <tr>
                                <td>RAM</td>
                                <td>8 GB</td>
                            </tr>
                            <tr>
                                <td>RAM Type</td>
                                <td>
                                    DDR4</td>
                            </tr>
                            <tr>
                                <td>Chipset</td>
                                <td>Intel SoC Platform</td>
                            </tr>
                            <tr>
                                <td>Clock Speed</td>
                                <td>Base Clock 3.10 GHz, Max Turbo Boost Frequency Up to 4.40 GHz</td>
                            </tr>
                            <tr>
                                <td>RAM Frequency</td>
                                <td>3200 MHz</td>
                            </tr>
                            <tr>
                                <td>Cache</td>
                                <td>8 MB</td>
                            </tr>
                            <tr>
                                <td>Graphic Processor</td>
                                <td>NVIDIA GeForce RTX 3050</td>
                            </tr>
                            <tr>
                                <td>Number of Cores</td>
                                <td>4</td>
                            </tr>
                            <tr>
                                <th colspan="2">Operating System</th>
                            <tr>
                                <td>OS Architecture</td>
                                <td>64 bit</td>
                            </tr>
                            <tr>
                                <td>Operating System</td>
                                <td>Windows 11 Home</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>

                    <hr>
                    <button onclick="myFunction()" id="myBtn">See more</button>
                </div>

                <div class="ratingsNreviews">

                    <!-- Overall rating starts -->
<div class="rating-screen">
    <button>
        <i class="fa-solid fa-star fa-2xs"></i>&nbsp; <%=roundToOneDecimalPlace(averageRating)%>
    </button>
    <p>
        <%=numberOfRatings %> Ratings and <%=numberOfReviews%> Reviews
    </p>
</div>
                    <!-- Overall rating ends -->
                    <div class="userReviewInput">
                        <h2>Rate this product</h2>
                        <hr>
                        <!-- Customer rating and review input -->
                        <form action="/product/<%=product._id %>" method="post">
                            <br>


                            <span class="star" data-rating="1"><i class="fa-solid fa-star"></i></span>
                            <span class="star" data-rating="2"><i class="fa-solid fa-star"></i></span>
                            <span class="star" data-rating="3"><i class="fa-solid fa-star"></i></span>
                            <span class="star" data-rating="4"><i class="fa-solid fa-star"></i></span>
                            <span class="star" data-rating="5"><i class="fa-solid fa-star"></i></span>

                            <!-- Hidden input field to store the selected rating -->
                            <input type="hidden" id="rating" name="rating" value="1">
                            <div class="revText">
                                <label for="input">Write your detailed review of the product</label>
                                <br>
                                <textarea name="reviewText" id="" cols="30" rows="10" placeholder="Optional"></textarea>
                                <br>
                                <button type="submit">Submit</button>
                            </div>
                        </form>
                    </div>

                    <!-- Customer review and ratings input ends -->

                    <!-- Customer review output -->
                    <div class="userReviewContainer">
                        <h2>Product Reviews:</h2>
                        <% if (product.reviews && product.reviews.length> 0 && product.reviews.some(element =>element.review)) { %>
                            <% product.reviews.forEach(element=> { %>
                                <% if (element.review) { %>
                                    <div class="userReviewBlock">
                                        <div class="istar">
                                            <i class="fa-solid fa-star fa-2xs"></i>
                                            <%= element.rating %>
                                        </div>
                                        <h4>&nbsp;<%= ratingTocomment[element.rating] %>
                                        </h4>
                                        <p class="userReviewContent">
                                            <%= element.review %>
                                        </p>
                                        <button>Read More</button>
                                        <p class="userReviewName">
                                            <b>
                                                <%= element.user %>
                                            </b>,
                                            <% if (element.reviewDate) { %>
                                                <%= element.reviewDate.toLocaleDateString('en-US', { weekday: 'short' , year: 'numeric' , month: 'short' , day: 'numeric' }) %>
                                                    <% } else { %>
                                                        Date Not Available
                                                        <% } %>
                                        </p>
                                    </div>
                                    <% } %>
                                        <% }); %>
                                            <% } else { %>
                                                <p style="font-size: medium; color: darkgray; text-align: center; border: 1px solid rgba(184, 184, 184, 0.742); box-sizing: border-box; padding: 0.7rem .8rem .7rem 1rem;">
                                                    No reviews yet
                                                </p>
                                                <% } %>

                    </div>


                </div>


            </div>
            <!-- customer reviews output end -->







        </div>
        <!-- full product info ends -->













        <!-- footer -->
        <%- include('partials/footer') %>
            <script>

                // Get all the star elements
                const stars = document.querySelectorAll('.star');

                // Add a click event listener to each star
                stars.forEach((star) => {
                    star.addEventListener('click', () => {
                        // Get the rating value from the data-rating attribute
                        const rating = parseInt(star.getAttribute('data-rating'));


                        // Update the hidden input field value
                        document.getElementById('rating').value = rating;

                        // Remove the 'active' class from all stars
                        stars.forEach((s) => s.classList.remove('activate'));

                        // Add the 'active' class to the clicked star and previous stars
                        for (let i = 0; i < rating; i++) {
                            stars[i].classList.add('activate');
                        }
                    });
                });

            </script>
            <script src="/js/imgswitch.js"></script>
            <script src="/js/seemore.js"></script>
            <script src="/js/readmore.js"></script>
            <script src="/js/smallimgslider.js"></script>
            <script src="/js/productslider.js"></script>
            <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
            <script>
                $(document).ready(function () {
                    $(".image").slice(0, 6).fadeIn();
                    $(".load-more").click(function () {
                        $(".image").slice(0, 14).fadeIn();
                        $(this).fadeOut();
                    });
                });
            </script>
            <script>

                var matched = $(".image-container *");

                if (matched.length <= 10) {
                    $('.next-btn').css('display', 'none');
                    console.log(matched.length);

                }


            </script>




    </body>

    </html>