<%-include('partials/head')%>
    <link rel="stylesheet" href="/css/productList.css">
    <title>Wishlist</title>


    </head>


    <body>


        <div id="sublayer1">

            <div class="part1">
                <!-- logo -->
                <a href="/"><img src="/resources/logo6.png" class="logoimg" alt="logo of site"> </a>
                <!-- search bar -->
                <div class="search">
                    <input type="search" name="search" class="search-field" placeholder="Search Product, Brand">
                    <button type="submit" class="searchbtn">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>
            </div>
            <div class="part2">
                <!-- login-signup -->
                <div class="login-signup">

                    <% if (isAuthenticated) { %>
                        <p>
                            <i class="fa-solid fa-user fa-lg"> </i>
                            <%= username %>!
                        </p>
                        <!-- Other content for authenticated users -->
                        <% } else { %>
                            <p>
                                <i class="fa-solid fa-user fa-lg"> </i>
                                <a href="/login" class="ls">Login</a>
                                or
                                <a href="/register" class="ls">Sign Up</a>
                            </p>
                            <% } %>

                </div>

                <!-- wishlist & cart -->

                <a href="/user/wishlist" class="wishlist">
                    <i class="fa-regular fa-heart fa-xl"> </i>
                    <p> Wishlist</p>
                </a>
                <a href="/user/cart" class="cart">
                    <i class="fa-solid fa-cart-shopping fa-xl"> </i>
                    <p>My Cart</p>
                </a>

            </div>

        </div>

        <!-- llayer2 -->
        <div id=layer2>

            <!-- Assuming product.product is an object with properties like productName, discountedPrice, productPrice, descriptionPoints, etc. -->
            <% if (!products || products.length===0) { %>
                <h3>No products in wishlist</h3>
                <% } else { %>
                    <div class="productz">
                        <% products.forEach(product=> { %>
                            <a href="/product/<%= product._id %>">

                                <div class="product-container">
                                    <img src="<%= product.imagePath %>" class="laptop" width="13rem" alt="">
                                    <div class="product-info">
                                        <button><i class="fa-solid fa-heart fa-xl"></i></button>
                                        <h4>
                                            <%=product.productName %>
                                        </h4>
                                        <div class="rev">
                                            <!-- Your star ratings and other information -->
                                        </div>
                                        <h4><i class="fa fa-inr"></i>
                                            <%= product.discountedPrice %>
                                        </h4>
                                        <h5 class="disc">
                                            <%= product.productPrice %>
                                        </h5>
                                        <h5 class="disc1">
                                            <%= ((product.productPrice - product.discountedPrice) /
                                                product.productPrice) * 100 %> % off
                                        </h5>
                                        <h5>Free Delivery</h5>
                                        <ul>
                                            <li>
                                                <%= product.descriptionPoints[0] %>
                                            </li>
                                            <li>
                                                <%= product.descriptionPoints[1] %>
                                            </li>
                                            <li>
                                                <%= product.descriptionPoints[2] %>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </a>
                            <% }); %>
                    </div>

                    <% } %>




        </div>

        <%-include('partials/footer')%>

    </body>

    </html>